.menu_header {
	text-align: center;
	background: rgba(12, 1, 78, 1);
}

.quantum_background {
	/* background: rgba(12, 1, 78, 1); */
	background: #253053;
}

.component_background {
	background: hsla(0, 0%, 100%, 0.95);
}

.bootstrap_edits {
	padding-left: 0;
	padding-right: 0;
}

.row_link {
	cursor: pointer;
}

.nav_link {
	cursor: pointer;
}

.nav_link:hover {
	animation: link_hover 1s;
	animation-fill-mode: both;
}

.profile_picture {
	height: 46px;
	width: 46px;
}

.mobile_button {
	height: 25px;
	width: 25px;
}

.mobile_icon {
	height: 10px;
	width: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
}

@keyframes link_hover {
	from {
		filter: brightness(100%);
		border-bottom: 0px solid rgb(39, 28, 102);
	}

	to {
		filter: brightness(300%);
		border-bottom: 1px solid rgb(39, 28, 102);
	}
}
